<h1>ember-aria-slider</h1>
<div class="two-column">
  <section id="left">
    <h3>RED</h3>
    v
    {{aria-slider
      minValue=0
      maxValue=255
      currentValue=red
      class="red-slider"
    }}
    <h3>GREEN</h3>
    {{aria-slider
      minValue=0
      maxValue=255
      currentValue=green
      class="green-slider"
    }}
    <h3>BLUE</h3>
    {{aria-slider
      minValue=0
      maxValue=255
      currentValue=blue
      class="blue-slider"
    }}
  </section>
  <section id="right">
    <div id="idColorInfo">
      <div id="idColorBox" style={{backgroundColor}} {{!-- template-lint-disable --}}></div>
      <label>Color (HEX): <input readonly="" id="idColorValueHex" value={{hex}} type="text"></label>
      <label>Color (RGB): <input readonly="" id="idColorValueRGB" value={{rgb}} type="text"></label>
    </div>
  </section>
</div>
{{outlet}}
